<?xml version="1.0"?>
<config>
	<modules>
		<Jcarey_Stock>
			<version>0.0.1</version>
		</Jcarey_Stock>
	</modules>
	<global>
		<models>
			<cataloginventory>
				<rewrite>
					<stock_item>Jcarey_Stock_Model_Stock_Item</stock_item>
				</rewrite>
			</cataloginventory>
		</models>
	</global>
</config>